<nav class="navbar navbar-dark bg-warning">
	<a href="/" class="navbar-brand">Angular 5 and Firebase</a>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6 text-center">
			<div class="card mt-4">
				<div class="card-body">
					<h3>Agregar nueva Tarea</h3>
					<img width="350" alt="Angular Logo" src="../assets/img/angular.svg">
				</div>
			</div>	
		</div>
		<div class="col-md-6">
			<div class="card mt-4">
				<div class="card-body">
					<app-todo></app-todo>
				</div>
			</div>
		</div>
	</div>
</div>